label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 3vh;
}

input {
  width: 20vw;
  padding: 12px 20px;
  margin: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
}

.goalContainer {
  width: 80%;
  background-color: rgb(43, 45, 66);
  text-align: center;
  margin: auto;
  margin-top: 2vh;
  border: 3px solid black;
  border-radius: 15px;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

.addTaskContainer {
  width: 70%;
  background-color: rgb(43, 45, 66);
  text-align: center;
  margin: auto;
  margin-top: 2vh;
  border: 3px solid black;
  border-radius: 15px;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

.taskListContainer {
  width: 70%;
  background-color: rgb(239, 35, 60);
  text-align: center;
  margin: auto;
  margin-top: 2vh;
  border: 3px solid black;
  border-radius: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.task {
  background-color: rgb(217, 4, 41);
  width: 80%;
  height: 8vh;
  margin: 2vh;
  margin-left: auto;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
}

.taskName {
  float: left;
  margin-left: 2vw;
}

.taskDuration {
  float: right;
}

.addButton {
  width: 10%;
  height: 6vh;
}

img {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-top: 1vh;
}

img:hover {
  filter: invert(1);
}

img:active {
  filter: invert(0.8);
}