.menuContainer {
  background-color: rgb(141, 153, 174);
  width: 80vw;
  height: 60vh;
  margin: auto;
  border: 3px solid black;
  padding: 2vh;
  border-radius: 25px;
}

.titleContainer {
  background-color: rgb(165, 186, 221);
  text-align: center;
  margin: auto;
  border: 3px solid black;
  border-radius: 15px;
  overflow: hidden;
  white-space: nowrap;
}