body {
  background-image: linear-gradient(to bottom right, rgb(0, 0, 255), rgb(39, 39, 175));
  height: 100vh;
}

.homeMenuContainer {
  background-image: linear-gradient(to bottom right, rgb(9, 0, 88), rgb(2, 0, 32));
  width: 80vw;
  height: 60vh;
  margin: auto;
  border: 3px solid black;
  padding: 2vh;
}

.homeTitleContainer {
  background-image: linear-gradient(to bottom right, rgb(85, 85, 255), rgb(80, 80, 173));
  text-align: center;
  margin: auto;
  border: 3px solid black;
}

.homePageButton {
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 55, 55));
  border: 2px solid rgb(134, 17, 17);
  border-radius: 15px;
  font-family: "Georgia";
  font-size: 1em;
  display: block;
  width: 35vw;
  height: 7vh;
  margin: auto;
  margin-bottom: 2vh;
  margin-top: 2vh;
}